* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
    background-color: #F0F8FF;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
 
}
img {
  height: 100vh;
  width: 100%;
  opacity:.8;
  position: relative;
  
}
.color{
  background-color: #FFB2D0;
  height: 100vh;
  width:100%;
 position: absolute;
 z-index: 2;
 animation-name: moving;
 animation-timing-function: ease-out;
 animation-fill-mode: forwards;
 animation-duration: 25s;
}
@keyframes moving {
  0%{
     height:100vh;
     width: 100%;
  }
  50%{
    height: 50%;
    width: 50%;
    
  }
  100%{
    height: 0;
    width: 0;
  }
  
}
.ballons{
  position:absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
 
  
}

.ballons img{
 
 width: 63px;
height: 200px;
z-index: 2;
 bottom: -500px;
  animation-name: ballon;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  
  z-index: 3;
  
}


.ballons img:nth-child(1) {
          animation-delay: 14s;
          width: 160px;
         
}
.ballons img:nth-child(2) {
          animation-delay: 3s;
          width: 70px;
          
}.ballons img:nth-child(3) {
          animation-delay: 3s;
}.ballons img:nth-child(4) {
          animation-delay: 0s;
          width: 100px;
}.ballons img:nth-child(5) {
          animation-delay: 2.5s;
          width: 90px;
}.ballons img:nth-child(6) {
          animation-delay: 5s;
          width: 70px;
          
}
@keyframes ballon {
  0%{
   transform: translateY(50vh);
   opacity: 0.6;
   
  }
  25%{
    opacity: 0.75;
    transform: translate(-15px,10vh);
  }
  50%{
      opacity: 1;  
      transform: translate(18px,-20vh);  
  }
  75%{
    transform: translate(-12px,-50vh);
  }
  100%{
    transform: translate(5px,-80vh);
    opacity: 1;
  }
  
}



.box {
  height: 600px;
  width: 400px;
  background-color: #F3E8EA;
  border-radius: 10px;

  position: relative;
  transition: all 1s ease-in;
  cursor: pointer;
  z-index: 3;
  position: absolute;
  opacity: .8;
}
.box:hover {
  box-shadow: 0px 0px 2px 2px #F433FF;
  transform: scale(0.95);
}
.a1 {
  position: absolute;
  top: 85px;
  left: 150px;
  z-index: 3;
 
}
.a2 {
  position: absolute;
  top: 200px;
  left: 166px;
  z-index: 3;
 
}
.a3 {
  position: absolute;
  top: 323px;
  left: 162px;
  z-index: 3;
 
}
.a4 {
  position: absolute;
  top: 432px;
  left: 162px;
  z-index: 3;
 
}
.a5 {
  position: absolute;
  top: 524px;
  padding: 12px;

  z-index: 3;
 
}
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  color: #F3E8EA;
 
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #F3E8EA;
  animation-name: wish;
  animation-duration: 14s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
 
}
@keyframes wish {
  from {
    color: #F3E8EA;
  }
  to {
    color: black;
    opacity: 1;
  }
}

.b1 {
  position: absolute;
  left: 147px;
  height: 60px;
  width: 140px;
  background-color: #F3E8EA;
  animation-name: happy;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  border-radius: 5px;
 
}

@keyframes happy {
  from {
    top: 0px;
  }
  to {
    top: 85px;
    background-color: #e63946;
  }
}
.b2 {
  position: absolute;
  left: 147px;
  height: 60px;
  width: 140px;
  background-color: #F3E8EA;
  animation-name: new;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  border-radius: 5px;
 
}

@keyframes new {
  from {
    top: 0px;
  }
  to {
    top: 200px;
    background-color: #e63946;
  }
}
.b3 {
  position: absolute;
  left: 147px;
  height: 60px;
  width: 140px;
  background-color: #F3E8EA;
  animation-name: year;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  border-radius: 5px;
 
}

@keyframes year {
  from {
    top: 0px;
    /* translate-y:0px ; */
  }
  to {
    top: 323px;
    background-color: #e63946;
    /* translate-y :331px ; */
  }
}
.b4 {
  position: absolute;
  left: 147px;
  height: 60px;
  width: 140px;
  background-color: #F3E8EA;
  animation-name: y2026;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  border-radius: 5px;
 
}

@keyframes y2026 {
  from {
    top: 0px;
    /* translate-y:0px ; */
  }
  to {
    top: 432px;
    background-color: #e63946;
    /* translate-y :331px ; */
  }
}
.b5 {
  position: absolute;
  height: 347px;
  width: 2px;
  background-color: #F3E8EA;
  top: 85px;
  left: 149px;
  animation-name: line;
  animation-timing-function: ease-in;
  animation-duration: 10s;
  animation-fill-mode: forwards;
 
}

.b6 {
  position: absolute;
  height: 347px;
  width: 2px;
  background-color: #F3E8EA;
  top: 85px;
  left: 283px;
  animation-name: line;
  animation-timing-function: ease-in;
  animation-duration: 10s;
  animation-fill-mode: forwards;
 
}

@keyframes line {
  from {
    background-color: #F3E8EA;
  }
  to {
    background-color: #e63946;
  }
}
@media screen and (max-width:450px){
.box{
 transform: scale(.8);
 transform-origin: center center;
}
.ballons img{
  width: 40px;
  height: auto;
}
.a5 p {
        font-size: 14px; 
    }
  
}
